<!-- <app-login>login</app-login>
<app-reset>reset</app-reset>
<app-registration-page>register</app-registration-page>
<app-forgot-pass>forgot</app-forgot-pass>
<app-home-page>Home</app-home-page> -->

<!-- <router-outlet>
    <a href="home-page">Home</a>
    <br/>
   <a href="forgot-pass">Forgot</a>
    <br/>
    <a href="reset">ResetPassword</a>
    <br/>
    <a href="registration-page">RegistrationPage</a>
    <br/>
    <a href="login">Login</a>
</router-outlet>  -->
<router-outlet>
<div class="topnav">
    <a class="active" href="home-page">Home</a>
    <a href="forgot-pass">Forgot</a>
    <a href="reset">ResetPassword</a>
    <a href="registration-page">RegistrationPage</a>
    <a href="login">Login</a>
    <a href="activateaccount/">activateaccount</a>
  </div>  
  <div style="padding-left:16px"></div>
  <a routerlink="home-page"></a>

</router-outlet>